<h2>My selections</h2>
<table class="table-outlined">
  <tr>
    <th>Time</th>
    <th>Horse</th>
    <th>Points</th>
  </tr>
  <% current_user.horses.where(meeting_id: current_league.first.meeting).each do |horse| %>
    <tr>
      <td><%= horse.race.time.to_s(:time) %></td>
      <td><%= horse.name %></td>
      <td><%= pluralize(horse.points(horse.result), 'point') %></td>
  <% end %>
</table>
