<% if current_meeting.nil? %>
  Not part of any placepots yet. <%= link_to 'Join Placepot', join_path %>
<% else %>

  <ul class="switch middle">
    <li><a href="#pick" class="selected">Placepot</a></li>
    <li><a href="#selections">My Horses</a></li>
    <li><a href="#league">League Table</a></li>
  </ul>

  <% unless current_meeting.nil? %>
  
    <!-- Picks -->
    <div class="tab active" id="pick">
      <%= render 'pick' %>
    </div>

    <!-- Selections -->
    <div class="tab" id="selections">
      <%= render 'selections' %>
    </div>

    <!-- League table -->
    <div class="tab" id="league">
      <%= render 'league_table' %>
    </div>

  <% end %>
<% end %>
