<div class="container small">
  <div class="well">
    <%= simple_form_for @league do |f| %>
      <%= f.input :name %>
      <%= f.input :meeting, as: :select, collection: @todays_meetings, label_method: :racecourse, include_blank: true, label: false %>
      <%= f.button :submit, class: 'button' %>
    <% end %>
  </div>
</div>
