<ul class="sg-tabs">
  <li><a href="#code" class="active">Code</a></li>
  <li><a href="#example">Example</a></li>
</ul>
<div class="codeExample">
  <div class="sg-tab" id="example">
    <div class="exampleOutput">
      <%= rendered_example %>
    </div>
  </div>
  <div class="sg-tab active" id="code">
    <div class="codeBlock">
      <div class="highlight">
        <pre><%= code_example %></pre>
      </div>
    </div>
  </div>
</div>

<script>
  $('.sg-tabs a').click(function(){
    // Remove classes from perviously active tabs
    $('.sg-tab').removeClass('active');
    $('.sg-tabs a').removeClass('active');
    // Get active tab id
    var active = $(this).attr('href');
    // Display active tab
    $('div' + active).addClass('active');
    // Set current tab link to active
    $(this).addClass('active');
    return false;
  });
</script>
