<div class="nested-fields">
  <div class="add-on">
    <%= f.input :name, label: false, placeholder: 'The winning horse' %>
    <%= f.input :result, as: :select, label: 'result', collection: [ '1st','2nd','3rd' ] %>
    <%= link_to_remove_association "X", f, class: 'btn-cross' %>
  </div>
</div>
