<table class="table-outlined">
  <tr>
    <th>Meeting</th>
    <th></th>
  </tr>
  <% @meetings.each do |meeting| %>
    <tr>
      <td><%= meeting.racecourse %></td>
      <td><%= link_to "Edit Results", edit_meeting_path(meeting) %></td>
    </tr>
  <% end %>
</table>
