<div class="well">
  <!-- <div class="notice">

    1. Create your league or join a league.<br />

    2. Pick your winners.<br />

    3. Win all the money!.<br />


    <p>Not part of any placepots yet. Create a placepot or join an existing one.</p>
    <p>
      <%= link_to 'Create Placepot', new_league_path, class: 'button' %>
      <%= link_to 'Join Placepot', join_path, class: 'button' %>
    </p>
  </div> -->

  <% unless @todays_meetings.empty? %>
    <div class="page-heading">
      <h2>Today's Cards</h2>
    </div>
    <table class="table-outlined">
      <tr>
        <th>Racecourse</th>
        <th>&nbsp;</th>
      </tr>
      <% @todays_meetings.each do |meeting| %>
        <tr>
          <td><%= meeting.racecourse %></td>
          <td class="text-right"><a href="#">Create League</a></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="notice">No cards yet.</div>
  <% end %>
</div>
