<!doctype html>
<html>
  <head>
    <title>Styleguide: <%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../docs/highlight.css">
    <link rel="stylesheet" href="../docs/theme.css">
    <link rel="stylesheet" href="../assets/application.css">
  </head>

  <body class="sg-body">
    <div class="sg-header">
      <a href="" class="sg-logo">Placepot Styleguide</a>
      <nav class="sg-nav">
        <ul>
          <% @categories.each do |category, file_name| %>
            <li><a href="../docs/<%= file_name %>" class="hgt-pagehead-nav-item"><%= category %></a></li>
          <% end %>
        </ul>
      </nav>
    </div>

    <div class="sg-container">
      <ul class="sg-sidebar">
        <% @blocks.each do |b| %>
          <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
        <% end %>
      </ul>

      <div class="sg-content">
