.alert-container{
  perspective: 800px;
  position: relative;
  z-index: 9;
  .alert{
    display: flex;
    align-items: center;
    width: 100%; min-height: 60px;
    padding: 15px;
    background-color: $yellow;
    border-radius: 0;
    position: fixed;
    top: 0; left: 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    transform: translateX(-50%);
    &.active{ animation: alertIn 1s forwards; }
    &.close{ animation: alertOut 1s forwards; }
    .inner{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; max-width: 860px;
      padding: 0 10px;
      @media(max-width: $mobile){
        padding: 0;
      }
    }
    button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px; height: 30px;
      background-color: darken($yellow,12%);
      border: 0; outline: 0;
      border-radius: 100%;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

@keyframes alertIn {
  0%    { transform: translateX(-50%) rotateX(-90deg); }
  25%   { transform: translateX(-50%) rotateX(-90deg); }
  100%  { transform: translateX(-50%) rotateX(0deg);   }
}

@keyframes alertOut {
  0%    { transform: translateX(-50%) rotateX(0deg);   }
  75%   { transform: translateX(-50%) rotateX(-90deg); }
  100%  { transform: translateX(-50%) rotateX(-90deg); }
}
