/*doc
---
title: Buttons
name: Buttons
category: Buttons
---
```html_example
    <a href="" class="button">I am a button</a>
```
*/

$green: #18C29C;
$yellow: #fcce5e;

.button{
  display: inline-block;
  padding: 8px 20px;
  background-color: $yellow;
  border: 0;
  border-radius: 25px;
  font-size: 15px;
  color: #494634;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    // TODO: Hover state
  }
  &.ghost{
    background-color: initial;
    border: 2px solid $green;
    color: $green;
    &:hover{
      background-color: $green;
      color: #fff;
    }
    &.white{
      border-color: #fff;
      color: #fff;
      &:hover{
        background-color: #fff;
        color: $green;
      }
    }
  }
}


.btn-pick{
  height: 100%;
  padding: 0 10px;
  position: absolute;
  top: 0; right: 0;
  background-color: #eee;
  border: 0; outline: 0;
  cursor: pointer;
  i{
    color: #333;
    font-size: 32px;
  }
  &.selected{
    background-color: $green;
    i{ color: #fff; }
  }
}
