.label{
  display: inline-block;
  padding: 3px 5px;
  background-color: #333;
  border-radius: 3px;
  color: #fff;
  &.result-1st{
    background-color: $green;
  }
  &.result-2nd{
    background-color: $yellow;
  }
  &.result-3rd{
    background-color: $red;
  }
}

.label + .label{
  margin: 0 0 0 5px;
}
