<% flash.each do |type, message| %>
  <div class="alert-container">
    <div class="alert <%= bootstrap_class_for(type) %> active">
      <div class="inner">
        <span><%= message %></span>
        <button class="js-alert-close">×</button>
      </div>
    </div>
  </div>
<% end %>
